{{>partials/header}}
<h1>Adicionar produto</h1>

<form action = '/cadastro' method="POST">
<input type ="text" id="nome" name="nome" required>
<input type ="text" id="preco" name="preco" required>
<input type ="submit" value="Cadastrar">

{{>partials/footer}}