{{>partials/header}}
<h1>Cadastrar produto</h1>

<form action='/cadastrar' method="POST">
Produto: <br>
<input type ="text" id="nome" name="nome" required><br><br>
Preço: <br>
<input type ="text" id="preco" name="preco" required> <br><br><br>
<input type ="submit" value="Cadastrar"><br><br>

{{>partials/footer}}