{{>partials/header}}
<center>
<button><a href=''>Adicionar usuários</a></button>
</center>

<table border="1" width="100%">
    <tr>
        <th>ID</th>
        <th>NOME</th>
        <th>PREÇO</th>
        <th>AÇÕES</th>
    </tr>

    {{#products}}
    <tr>
        <td>{{id}}</td>
        <td>{{nome}}</td>
        <td>R$  {{preco}}</td>
        <td>Editar / Deletar</td>
    </tr>
    {{/products}}
</table>

{{>partials/footer}}