{{>partials/header}}

<h1>Todos os produtos</h1>

<table border="1" width="100%">
    <tr>
        <th>ID</th>
        <th>NOME</th>
        <th>PREÇO</th>
        <th>AÇÕES</th>
    </tr>

    {{#products}}
    <tr>
        <td>{{id}}</td>
        <td>{{nome}}</td>
        <td>R$  {{preco}}</td>
        <td><a href="/editar/{{id}}">[Editar]</a> <a href="/deletar/{{id}}" onclick="return confirm('Certeza man?')" >[Deletar]</a></td>
    </tr>
    {{/products}}
</table>

<center>
<a href='/cadastro'><button>Adicionar produto</button></a>
</center>
{{>partials/footer}}